In [43]:
for num in range (0,21):
    print(num);

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
for num in range (10,20):
    print(num);

10
11
12
13
14
15
16
17
18
19

In [9]:
element_list = [10, 20, 14, 55, 43, 87, 76]
print(element_list)
print("No of elements in list are:", len(element_list))

[10, 20, 14, 55, 43, 87, 76]
No of elements in list are: 7

In [19]:
string_name = "Artificial Intelligence";
# Iterate over index
for element in range(0, len(string_name)):
    print(string_name[element])

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [28]:
name=input("-Your Name-")
age=input("-Your age-")
profession=input("-Your Profession-")
print(name);
print(age);
print(profession);

-Your Name-
-Your age-
-Your Profession-

In [32]:
Tuple1 = (1, 'Welcome', 2, 'Hope')
print("Print mixered datatype using Tuples: ")
print(Tuple1)

Print mixered datatype using Tuples:
(1, 'Welcome', 2, 'Hope')

In [35]:
Tuple1 = ((0, 1, 2, 3), ('python', 'HOPE'))
print("Print mixered datatype using Tuples: ")
print(Tuple1)

Print mixered datatype using Tuples:
((0, 1, 2, 3), ('python', 'HOPE'))

In [40]:
# Python program to print odd Numbers in a List

# list of numbers
list1 = [20,10,16,19,25,1,276,188]

# iterating each number in list
for num in list1:

    # checking condition
    if num % 2 != 0:
       print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [52]:
# Python program to print even Numbers in a List

# list of numbers
list1 = [20,10,16,19,25,1,276,188]

# iterating each number in list
for num1 in list1:

    # checking condition
    if num1 % 2 == 0:
       print(num1,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even